.course-info__button {
    background-color: #FF6600;
    color: white;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    border: none;
    width: 360px;
    height: 48px;
    align-self: center;
    border-radius: 16px;
    margin: 0 0 32px 0;
    padding: 0;
    cursor: pointer;
    transition: 0.4s;
}

@media screen and (max-width: 500px) {
    .course-info__button {
        width: calc(360/500 * 100vw);
    }
}