.breadcrumbs {
  grid-area: breadcrumbs;
  justify-self: start;
  width: 100%;
  margin: 0 auto 32px;
  font-family: "Golos", Arial, Helvetica, sans-serif;
  color: #212329;
  max-width: 1320px;

  display: grid;
  grid-template-columns: max-content max-content auto max-content 1fr;
}
