.text-area {
  font-family: "Golos", Arial, Helvetica, sans-serif;
  color: #212329;
  width: 872px;
  box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6),
    0px 4px 16px rgba(231, 232, 235, 0.6);
  border-radius: 16px;
  margin: 0;
  padding: 32px;
  box-sizing: border-box
}
