.buttons-lesson-text__next {
  margin: 0 0 0 24px;
  padding: 0;
  width: 184px;
  height: 48px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
}
.buttons-lesson-text__next:hover{
  transition:  0.3s linear;
  opacity: 60%;
}