.buttons-lesson-text__next {
  margin: 0 0 0 24px;
  padding: 0;
  width: 184px;
  height: 48px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  .buttons-lesson-text__next {
    font-size: 16px;
    width: 120px;
    height: 48px;
  }
}