.card__faq-container {
   padding-top: 32px;
   padding-bottom: 32px;
    margin: 0;
   border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6),
      0px 4px 16px rgba(231, 232, 235, 0.6);
  }