@import url(../vendor/normalize.css);
@import url(../vendor/fonts/golos-text.css);
/* page import */
@import url(../blocks/page/page.css);
/* link-opened for classList.add */
@import url(../blocks/link-opened/link-opened.css);
/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__links-el/header__links-el.css);
@import url(../blocks/header/__link/header__link.css);
/* main */
@import url(../blocks/main/main.css);
@import url(../blocks/main/main__title/main__title.css);
/* info place for grid */
@import url(../blocks/left-bar/left-bar.css);
/* card import */
@import url(../blocks/card/card.css);
@import url(../blocks/card/__header/card__header.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__button/card__button.css);
@import url(../blocks/card/__content/card__content.css);
@import url(../blocks/card/__content/_open/card__content_open.css);
/*FAQ*/
@import url(../blocks/faq/faq.css);
@import url(../blocks/faq/__header/faq__header.css);
@import url(../blocks/faq/__title/faq__title.css);
@import url(../blocks/faq/__content/faq__content.css);
@import url(../blocks/faq/__content/_open/faq__content_open.css);
@import url(../blocks/faq/__button/_up/faq__button_up.css);
/* import benefits */
@import url(../blocks/benefits/benefits.css);
@import url(../blocks/benefits/__header/benefits__header.css);
@import url(../blocks/benefits/__icon/benefits__icon.css);
@import url(../blocks/benefits/__subhead/benefits__subhead.css);
@import url(../blocks/benefits/__text/benefits__text.css);
/* info import */
@import url(../blocks/info/info.css);
@import url(../blocks/info/__paragraph/info__paragraph.css);
@import url(../blocks/info/__title-list/info__title-list.css);
@import url(../blocks/info/__list/info__list.css);
@import url(../blocks/info/__item/info__item.css);
/* lessons */
@import url(../blocks/line/line.css);
@import url(../blocks/lessons/lessons.css);
@import url(../blocks/lesson/lesson.css);
@import url(../blocks/lesson/__card/lesson__card.css);
@import url(../blocks/lesson/__icon/lesson__icon.css);
@import url(../blocks/lesson/__point/lesson__point.css);
@import url(../blocks/lesson/__point/__point_ready/lesson__point_ready.css);
@import url(../blocks/lesson/__points/lesson__points.css);
@import url(../blocks/lesson/__text/lesson__text.css);
/* sidebar and course-info */
@import url(../blocks/sidebar/sidebar.css);
@import url(../blocks/course-info/course-info.css);
@import url(../blocks/course-info/__button/course-info__button.css);
@import url(../blocks/course-info/__image/course-info__image.css);
@import url(../blocks/course-info/__stats/course-info__stats.css);
@import url(../blocks/course-info/__stats-el/course-info__stats-el.css);

/* icons */
@import url(../blocks/icon-courses/icon-courses.css);
@import url(../blocks/icon-profile/icon-profile.css);
