@import url(../vendor/normalize.css);
@import url(../vendor/fonts/golos-text.css);

@import url(../blocks/line/line.css);
@import url(../blocks/content/content.css);
@import url(../blocks/content/__button/content__button.css);
@import url(../blocks/content/__header/content__header.css);
@import url(../blocks/content/__title/content__title.css);

@import url(../blocks/lessons/lessons.css);

@import url(../blocks/lesson/lesson.css);
@import url(../blocks/lesson/__card/lesson__card.css);
@import url(../blocks/lesson/__icon/lesson__icon.css);
@import url(../blocks/lesson/__point/lesson__point.css);
@import url(../blocks/lesson/__point/__point_ready/lesson__point_ready.css);
@import url(../blocks/lesson/__points/lesson__points.css);
@import url(../blocks/lesson/__text/lesson__text.css);

@import url(../blocks/line-side/line-side.css);

@import url(../blocks/content-side/content-side.css);
@import url(../blocks/content-side/__title/content-side__title.css);

@import url(../blocks/lessons-side/lessons-side.css);

@import url(../blocks/lesson-side/lesson-side.css);
@import url(../blocks/lesson-side/__button/lesson-side__button.css);
@import url(../blocks/lesson-side/__button/_active/lesson-side__button_active.css);
@import url(../blocks/lesson-side/__container/lesson-side__container.css);
@import url(../blocks/lesson-side/__container/_closed/lesson-side__container_closed.css);
@import url(../blocks/lesson-side/__header/lesson-side__header.css);
@import url(../blocks/lesson-side/__point/lesson-side__point.css);
@import url(../blocks/lesson-side/__point/_active/lesson-side__point_active.css);
@import url(../blocks/lesson-side/__points/lesson-side__points.css);
@import url(../blocks/lesson-side/__text/lesson-side__text.css);
@import url(../blocks/lesson-side/__icon/_l/lesson-side__icon_l.css);
@import url(../blocks/lesson-side/__icon/_l/_active/lesson-side__icon_l_active.css);
@import url(../blocks/lesson-side/__icon/_t/lesson-side__icon_t.css);
@import url(../blocks/lesson-side/__icon/_v/lesson-side__icon_v.css);
@import url(../blocks/lesson-side/__icon/_w/lesson-side__icon_w.css);
@import url(../blocks/lesson-side/__icon/_ready/lesson-side__icon_ready.css);

@import url(../blocks/text-area/text-area.css);
@import url(../blocks/text-area/__title/text-area__title.css);
@import url(../blocks/text-area/__subtitle/text-area__subtitle.css);
@import url(../blocks/text-area/__text/text-area__text.css);

@import url(../blocks/web-area/web-area.css);
@import url(../blocks/web-area/__announce/web-area__announce.css);
@import url(../blocks/web-area/__button/web-area__button.css);
@import url(../blocks/web-area/__time/web-area__time.css);
@import url(../blocks/web-area/__title/web-area__title.css);

@import url(../blocks/breadcrumbs/breadcrumbs.css);

@import url(../blocks/breadcrumb/breadcrumb.css);
@import url(../blocks/breadcrumb/__arrow/breadcrumb__arrow.css);
@import url(../blocks/breadcrumb/__link/breadcrumb__link.css);
@import url(../blocks/breadcrumb/__link/_active/breadcrumb__link_active.css);

@import url(../blocks/buttons-lesson-text/buttons-lesson-text.css);
@import url(../blocks/buttons-lesson-text/__next/buttons-lesson-text__next.css);
@import url(../blocks/buttons-lesson-text/__prev/buttons-lesson-text__prev.css);