.main-lesson {
  margin: 0 auto;
  position: relative;
  margin-top: 96px;
  width: 1440px;
  display: grid;
  grid-template-columns: 872px 424px;
  justify-content: center;
  column-gap: 24px;
  grid-template-areas:
  'breadcrumbs breadcrumbs'
  'info  sidebar'
  'info   .'
  'button .'
  ;
}
