.main-lesson {
  margin: 96px auto 99px auto;
  position: relative;
  width: 1440px;
  display: grid;
  grid-template-columns: 872px 424px;
  justify-content: center;
  column-gap: 24px;
  grid-template-areas:
  'breadcrumbs breadcrumbs'
  'info  sidebar'
  'info  sidebar'
  'button sidebar'
  ;
}
