.course-info {
    display: flex;
    flex-direction: column;
    width: 424px;
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6),
    0px 4px 16px rgba(231, 232, 235, 0.6);
}