.info__item {
  font-family: "Golos", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #212329;
  padding-bottom: 18px;
}
.info__item:last-child {
  padding-bottom: 0px;
}
